//색상
$purple : #6024c6;
$grey28 : #282a2e;
$grey96 : #96989c;
$greye7 : #e7e9ec;
$greyec : #eceef2;
$grey6f : #6f736f;
$greydd : #dddfe2;
$greyf6 : #f6f8fb;
$grey5a: #5a5c60;
$blue : #28aeed;
$lightOrange : #ebddc4;
$green : #c8e3d6;
$white: #ffffff;
$black: #000000;


//이미지경로
$imgUrl : "../../img/";

//반응형기준
$web: 1024px;
$mobile: 768px;